@font-face {
	font-family:"greenfamily";
	src: url('../font/greentext.otf'),url('../font/greentext.ttf'),url('../font/greentext.dfont'),
	url('../font/greentext.afm'),url('../font/greentext.pfb');
}

* {
	padding: 0px;
	margin: 0px;
}

body {
	min-width: 960px;
	position: relative;
	font-family: greenfamily;
}

.header .img {
	font-size: 0px;
}

.header .img img {
	width: 100%;
}

.header .img .imgslider{
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}

.header .leader {
	width: 100%;
	height: 40px;
	position: absolute;
	top: 9px;
	background-color: white;
	-webkit-box-shadow: 5px 5px black inset;
	-moz-box-shadow: 5px 5px black inset;
	box-shadow: 0px -2px 10px #d3d3d4 inset;
}

.header .leader .box {
	width: 960px;
	height: 40px;
	margin: 0px auto;
	line-height: 40px;
	position: relative;
}

.header .box .shouye{
	cursor: pointer;
}

.header .box img {
	margin-top: 5px;
	margin-left: 25px;
	width: 30px;
	height: 30px;
}

.header .box ul {
	float: right;
	list-style: none;
}

.header .box li {
	float: left;
	width: 100px;
	color: #959595;
	text-align: center;
}

.header .box a {
	color: #959595;
	text-decoration: none;
}

.header .box .underline {
	width: 26px;
	height: 2px;
	background-color: #66e095;
	position: absolute;
	top: 30px;
	left: 640px;
}

.footer {
	height: 150px;
	background: -webkit-linear-gradient(white, #e1e1e1);
	background: -moz-linear-gradient(white, #e1e1e1);
	background: -o-linear-gradient(white, #e1e1e1);
	background: linear-gradient(white, #e1e1e1);
}

.footer .box {
	width: 960px;
	height: 150px;
	margin: 0px auto;
	/*background:yellow;*/
}

.footer h1 {
	font-size: 25px;
}

.footer ul {
	list-style: none;
	margin-top: 10px;
	position: relative;
}

.footer ul li {
	display: inline-block;
}

.footer p {
	width: 260px;
}

.footer p,
.footer ol {
	display: block;
	margin-top: 10px;
	margin-left: 90px;
	font-size: 14px;
	line-height: 25px;
	color: #abaaab;
}

.footer ol li {
	display: block;
}

.footer .li1 {
	position: absolute;
	top: 0px;
	left: 450px;
}

.footer ol {
	margin-left: 120px;
}

.footer .li2 {
	position: absolute;
	top: 50px;
	right: 40px;
}

.footer a {
	text-decoration: none;
	color: black;
	margin-left: 20px;
	border-bottom: 2px solid #66e095;
}

.back{
	position:fixed;
	top: 0px;
	width: 100%;
	height:100%;
	opacity: 0;
	background-color: black;
	display:none;
}

.loginbox{
	position: fixed;
	top: 15%;
	left:50%;
	margin-left:-250px;
	width:500px;
	background-color:white;
	opacity:0;
	border-radius:10px;
	text-align: center;
	display:none;
	padding-bottom:50px;
	margin-top: -200px;
}

.loginbox .close{
	float:right;
	width:40px;
	height:35px;
	line-height: 40px;
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
	margin:10px 5px -5px -5px;
	opacity: 0.2;
	cursor: pointer;
	transform:rotate(0deg);
	transition: transform 0.5s ease;
}

.loginbox .close:hover{
	transform:rotate(180deg);
}

.loginbox .boxlogo{
	text-align: center;
	font-size: 40px;
	margin-top: 40px;
}

.loginbox .boxlogo img{
	width:40px;
	position: relative;
	top:7px;
	padding-right: 10px;
}

.loginbox .lineheight .line{
	width:280px;
	height:0px;
	border-top:1px solid #eeeeee;
	margin:25px auto 0px;
}

.loginbox .lineheight .linename{
	color:#d4d4d4;
	width:70px;
	height:20px;
	font-size: 15px;
	margin:-8px auto 0px;
	background-color: white;
}

.loginbox .form .input{
	width:280px;
	height:40px;
	outline: none;
	border-radius: 10px;
	border: 1px solid #d4d4d4;
	margin:6px auto;
	padding-left:10px;
	padding-right: 10px;
	line-height: 40px;
}

.inputbox{
	overflow: hidden;
}

.loginbox .form .vaild{
	text-align: left;
	width:176px;
	border: none;
	outline: none;
	float:left;
	height:40px;
	margin-right: -16px;
}

.loginbox .form img{
	height:40px;
	float:right;
	margin-right: -10px;
}

.loginbox .form .submit{
	width:300px;
	background-color: #b3f3cc;
	color:white;
	font-size: 16px;
}
